* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: radial-gradient(#d35ca3, #b4c843);
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.apply-box {
  max-width: 600px;
  /* padding pehly dena imp hai */
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 9px;
  /* x y z axis-shadow*/
  box-shadow: 4px 3px 6px rgba(16, 16, 16, 0.8);
}

.tittle-small {
  font-size: 20px;
}

.form-container {
  margin-top: 20px;
  display: grid;
  /* responsive webpage */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form-control {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
input:focus {
  outline-color: red;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
button {
  background-color: #ba0404;
  border: transparent solid 2px;
  padding: 5px 10px;
  color: #fffdfd;
  border-radius: 6px;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: #ede7e7;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.textarea-control {
  grid-column: 1 / span 2;
}
.textarea-control textarea {
  width: 100%;
}
@media (max-width: 580px) {
  .textarea-control {
    grid-column: 1 / span 2;
  }
}
