* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; /*google fonts*/
  color: #686464;
}

body {
  height: 100vh; /*view height*/
  width: 100vw; /*view width*/
  background-color: #edf1fd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://images.pexels.com/photos/5326953/pexels-photo-5326953.jpeg?auto=compress&cs=tinysrgb&w=600);
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  background-color: #20a5a5;
  padding: 4px 10px;
  /* pata nhi */
  cursor: pointer;
  color: #fff;
  border: 1px solid #fffefe;
  border-radius: 5px;
  font-weight: 600;
  /* pata nhi */
  /* width: fit-content; *
 */
}

button:hover {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

nav {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}

nav ul li:hover {
  text-decoration: underline;
  font-weight: 900;
}

.search {
  display: flex;
  gap: 25px;
}

input {
  padding: 4px 10px;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
} 

.hero-section-left h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}
section p {
  font-size: 25px;
  font-weight: 900;
  color:rgb(31, 62, 62)
}

.hero-section-left h1 span {
  color: rgb(22, 80, 52);
  font-weight: 900;
  font-size: 2.5rem;
}

.hero-section-left p {
  font-weight: 500;
}
.hero-section-left p span {
  font-weight: 700;
  font-size: 35px;
  color: rgb(105, 47, 94);
}

.hero-section-right {
  display: flex;
  align-items: center;
  width: 40%;
  align-items: center;
  
}

.hero-section-right-btns {
    display: flex ;
    /* align-items: flex-start; */
    justify-content: flex-end;
    gap:20px;
}

.hero-section-right img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  padding:20px 0;
  justify-content:space-around;
}

footer p {
  font-weight: 600;
}

footer ul {
  display:flex;
  gap:30px;
  align-items: center;
}

footer ul li a i:hover {
  size: 300px;
}

.logo {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  border-radius: 40px 20px 40px 20px;
  padding-left: 5px;
}

